* { margin: 0px; padding: 0px; }
body {
	font-size: 100%;
	background-color: rgba(244, 194, 66,0.8);
    padding: device-width;
    border: none;
	font-family: "Adobe Fan Heiti Std B", sans-serif;
}
.animatedbg{
	position: relative;
	background: url(D:/Wamp/www/fyp/images/stripe.png);
	height: 10px;
}
.header {
	width: 40%;
	margin: 190px auto 0px;
	color: white;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.7);
	border-bottom: none;
	border-radius: 0px 0px 0px 0px;
	padding: 20px;
}
.header1 {
	width: 40%;
	margin: 100px auto 0px;
	color: white;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.7);
	border-bottom: none;
	border-radius: 0px 0px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid rgba(0,0,0,0.7);
	background: white;
	border-radius: 0px 0px 0px 0px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: rgba(0,0,0,0.8);
	border: 15px ;
	border-radius: 0px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline; 
	width: 120px; 
	height: 120px; 
	margin: 0px;
	float: left;
}
.profile_info div {
	display: inline-block; 
	margin: 12px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url();
    min-height: 5%;
}
.menu {
    display: none;
}
.backgroundclr
{
    background-color: rgba(244, 194, 66,0.8);
    padding: device-width;
    border: none;
}

.navbar {
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

